html {
    overflow: hidden;
}

* {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
}

header {
    position: fixed;
    z-index: 1;
}

nav {
    width: 100vw;
    background: linear-gradient(90deg, rgba(153, 0, 255, 1) 0%, rgba(255, 157, 0, 1) 100%);
}

.navbar-brand {
}

.navbar-brand:hover {
    text-decoration: underline 2px;
}

.nav-link {
}

.nav-link:hover {
    text-decoration: underline 2px;
}

.secao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn {
    background: linear-gradient(90deg, #9900ff 0%, #ff9d00 100%);
    font-weight: 600;
    box-sizing: border-box;
}

.btn:hover {
    background: white;
    color: rgb(210, 86, 115);
}

.btn, .card{
    border: none;
}

.svgA {
    height: 10vw;
}

form {
    width: 25vw;
}

#home {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  #home-svg {
    display: none;
  }
}